*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container nav {
    position: sticky;
    top: 0;
  }
nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 5px;
    background:#FFC300;
  }
nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;   
  }
nav li a {
    text-decoration: none;
    color: #FFFFFF;
  }
nav .logo{
    font-size: 38px;
    font-weight: bolder;
    color: #FFFFFF;
}
.section1{
    position: relative;
    color: #FFFFFF;
} 
.section1 img{ 
    width: 100%;
    height:90vh;
    opacity:0.8;
}  
.center {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
.center p{
    font-size: 20px;
    width: 50%;
    margin:auto;
    padding-top: 10px;
}
.center h1{
    font-size: 78px;
    top:5%;
}
.center button{
    margin-top:3%;
    padding:15px;
    width: 20%;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    border: #FFFFFF;
}
.btn1{
    background-color: #08F26E;
    color: #FFFFFF;
}
.section2{
    margin: auto;
    padding: 3%;
}
.row1 {
    display: flex;
    width: 100%;
  }
  
.row1 div {
    width: 50%;
  }
  
.noMargin {
    margin: 0px;
  }

.section2 .box1{
    height: 50vh;
    width:50vw;
    display: flex;
    background-color: #F9E786;
    justify-items: center;
}
.box1 img{
    padding: 30px;
}
.box1 ul{
    padding: 30px;
    list-style: none;
}
.section2 .box2{
    height: 50vh;
    width:50vw;
    display: flex;
}
.box2 img{
    padding: 30px;
}
.box2 ul{
    padding: 30px;
    list-style: none;
}
.section2 .box3{
    height: 50vh;
    width:50vw;
    display: flex;
}
.box3 img{
    padding: 30px;
}
.box3 ul{
    padding: 30px;
    list-style: none;
}
.section2 .box4{
    height: 50vh;
    width:50vw;
    display: flex;
    background-color: #FAEDA5;
}
.box4 img{
    padding: 30px;
}
.box4 ul{
    padding: 30px;
    list-style: none;
}
.section3{ 
    height: 50vh;
    background-color: #F5D838;
    text-align: center;
    color: #FFFFFF;
} 
.section3 h1{
    font-size: 55px;
    width:30%;
    margin: auto;
}
.section3 p{
    font-size: 20px;
    width:40%;
    margin: auto;
}
footer{
    height: 7vh;
    background-color: #8C7706;
    color: #FFFFFF;
}
footer p{
    text-align: center;
    padding: 14px;
}
