*{
    padding: 0;
    margin: 0;
    background-color: #9BCEB3;
}
header{
    height: 8vh;
    background-color: #AEEECC;
    text-align: center;
    margin: 5px;

}
header h1{
    background-color: #AEEECC;
    color: #2A4C3A; 
    padding: 5px;
}
.content{
    height: 60vh; 
    background-color: #FFFFFF;
    border: 2px solid #2A4C3A;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 15px;
    font-size: 20px;
}
button{
    background-color: #2A4C3A;
    color: #FFFFFF;
    width:18%;
    padding: 5px;
    font-size: 20px;
}
form{
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    padding:14px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#demo{
    text-align: center;
}
.form-label{
    font-size: 22px;
}
.form-control
{
    padding:12px;
    width:90%;
    background-color: #FFFFFF;
}
#section3{
    height: 30vh; 
    background-color: #FFFFFF;
    border: 2px solid #2A4C3A;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
}
p{
    font-size: 22px;
    background-color: #FFFFFF;
}